@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    animation-timing-function: cubic-bezier(.2, .6, .4, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(.25, .25, .25);
  }

  20% { transform: scale3d(1.1, 1.1, 1.1); }
  40% { transform: scale3d(.9, .9, .9); }

  60% {
    opacity: 1;
    transform: scale3d(1.05, 1.05, 1.05);
  }

  80% { transform: scale3d(.95, .95, .95); }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.cb-bounceIn { animation-name: bounceIn; }