@keyframes bounce {
  0%,
  20%,
  60%,
  85%,
  100% {
    animation-timing-function: cubic-bezier(.2, .55, .3, 1);
    transform: translate3d(0, 0, 0);
  }

  45%,
  50% {
    animation-timing-function: cubic-bezier(.8, .1, .9, .1);
    transform: translate3d(0, -25px, 0);
  }

  75% {
    animation-timing-function: cubic-bezier(.8, .1, .9, .1);
    transform: translate3d(0, -15px, 0);
  }

  90% { transform: translate3d(0, -5px, 0); }
}

.cb-bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}