@keyframes bounce {
  0%,
  20%,
  60%,
  85%,
  100% {
    animation-timing-function: cubic-bezier(.2, .55, .3, 1);
    transform: translateY(0);
  }

  45%,
  50% {
    animation-timing-function: cubic-bezier(.8, .1, .9, .1);
    transform: translateY(-25px);
  }

  75% {
    animation-timing-function: cubic-bezier(.8, .1, .9, .1);
    transform: translateY(-15px);
  }

  90% { transform: translateY(-5px); }
}

.cb-bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}